<!DOCTYPE html>
<html>

  <head>
    <title> CliniCAL! Match </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
    
  </head>

  <body>
    <div class="background-container">
        <h1> 
          Hello! Welcome to <u>CliniCAL! Match</u>, a platform that hope to make clinical trials <i>more accessible</i> to people from underrepresented communities.
        </h1>

        <div class="heading">
          <a href="1-homepage.html" class="logo">CliniCAL! MATCH</a>
            <u1 class="menu-items">
              <li><a href="2-community-hub.html">Community Hub Finder</a></li>
              <li><a href="#">Booklets</a></li>
              <li><a href="#">Our Impact</a></li>
              <li><a href="#">About Us</a></li>
            </u1>
          </div>
    </div>

  </body>
</html>
