<!DOCTYPE html>
<html>

  <head>
    <title> Community Hub Finder </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="background-container">
        <div class="content-container"> 
          <p>To begin, please answer a couple questions in order for us to provide the best community hub suited to your needs.</p>
          <button onclick = "window.location.href='3-start-here.html';" class=next-button>Start here &rArr;</button>
        </div>

        <div class="heading">
          <a href="1-homepage.html" class="logo">CliniCAL! MATCH</a>
            <u1 class="menu-items">
              <li><a href="2-community-hub.html">Community Hub Finder</a></li>
              <li><a href="#">Booklets</a></li>
              <li><a href="#">Our Impact</a></li>
              <li><a href="#">About Us</a></li>
            </u1>
          </div>
    </div>

  </body>
</html>
